@model Saller
@{
}
<h1>Delete</h1>
<h3>
	Seller Details  @Html.DisplayFor(x => x.Name)
</h3>
<div class="">
	<h4>Seller</h4>
	<hr />
	<div class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(x => x.Name)
		</dt>

		<dd>
			@Html.DisplayFor(x => x.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(x => x.Email)
		</dt>

		<dd>
			@Html.DisplayFor(x => x.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(x => x.Date)
		</dt>

		<dd>
			@Html.DisplayFor(x => x.Date)
		</dd>

		<dt>
			@Html.DisplayNameFor(x => x.BaseSalary)
		</dt>

		<dd>
			@Html.DisplayFor(x => x.BaseSalary)
		</dd>

		<dt>
			@Html.DisplayNameFor(x => x.Departament)
		</dt>

		<dd>
			@Html.DisplayFor(x => x.Departament.Name)
		</dd>
	</div>

	

</div>
<div>
	<a  asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default btn-primary" >Edit</a>
	|
	<a asp-action="Index">Back to list</a>
</div>
